@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* outline: 2px solid red; */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header section */
.header {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    padding: 16px;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 16px 20%;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    padding: 16px 0px;
    margin-top: 48px;
    margin-bottom: 48px;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 250px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40%;
    gap: 16px;
}

.hero-text-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text-btn {
    width: 30%;
    padding: 8px 4px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
    border-radius: 12px;
    border-color: #e5e7eb;

}

.hero-img {
    max-width: 40%;
}

/* Information section */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 48px 20%;
    background-color: #f9faf8;
    min-height: 250px;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 48px;
}

.information-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card {
    max-width: 180px;
    padding: 8px;
    text-align: center;
}

.card-img {
    width: 100%;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

/* Quote section */
.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 20%;
    background-color: #e5e7eb;
    min-height: 250px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    text-align: left;
    padding: 16px;
}

.quote-author {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
}